<%= form_with model: @cocktail, local: true do |f|%>
  <div class="field">
    <%= f.label :cocktail_name, "カクテル名" %><br />
    <%= f.text_field :cocktail_name, class: :form__nametext, id:"cocktail_title" %>
  </div>

  <div class="field">
    <%= f.label :glass_id, "グラスの種類" %><br />
    <%= f.collection_select(:glass_id, Glass.all, :id, :name, {}, {class:"select-box", id:"glass"}) %>
  </div>

  <div class="field">
    <%= f.label :base_alcohol_id, "ベースのお酒" %><br />
    <%= f.collection_select(:base_alcohol_id, BaseAlcohol.all, :id, :name, {}, {class:"select-box", id:"base_alcohol"}) %>
  </div>

  <div class="field">
    <%= f.label :taste_id, "味" %><br />
    <%= f.collection_select(:taste_id, Taste.all, :id, :name, {}, {class:"select-box", id:"taste"}) %>
  </div>

  <div class="field">
    <%= f.label :degree_id, "度数" %><br />
    <%= f.collection_select(:degree_id, Degree.all, :id, :name, {}, {class:"select-box", id:"degree"}) %>
  </div>

  <div class="field">
    <%= f.label :cocktail_recipe, "レシピ" %><br />
    <%= f.text_area :cocktail_recipe, class: :form__text, id:"cocktail_recipe" %>
  </div>

  <div class="field">
    <%= f.label :image, "カクテルの画像" %><br />
    <%= f.file_field :image, id:"cocktail_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>