<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "こんにちは、" %>
        <%= link_to current_user.nickname + "さん", user_path(current_user.id), class: :greeting__link%>
      </div>
    <% end %>
    <h1 class="search">カクテル検索</h1>
    <div class="search-form">
      <%= search_form_for @q do |f| %>
  <!--  <div class="form-all">
          <%#= f.label :name_cont, "フリー検索" ,class: "col-form-label"%>
          <%#= f.search_field :cocktail_name_or_base_alcohol_or_taste_or_glass_or_degree , class: "form-control"%>
        </div> -->
        <div class="form-name">
          <%= f.label :cocktail_name, "カクテル名" ,class: "col-form-label"%>
          <%= f.search_field :cocktail_name , class: "form-control"%>
        </div>
        <div class="form-base-alcohol">
          <%= f.label :base_alcohol, "ベース" ,class: "col-form-label"%>
          <%= f.collection_select(:base_alcohol_id, BaseAlcohol.all, :id, :name, {}, {class:"select-box", id:"base_alcohol"}) %>
        </div>
        <div class="form-taste">
          <%= f.label :taste, "味" ,class: "col-form-label"%>
          <%= f.collection_select(:taste_id, Taste.all, :id, :name, {}, {class:"taste-select-box", id:"taste"}) %>
        </div>
        <div class="form-glass">
          <%= f.label :glass, "グラス" ,class: "col-form-label"%>
          <%= f.collection_select(:glass_id, Glass.all, :id, :name, {}, {class:"select-box", id:"glass"}) %>
        </div>
        <div class="form-degree">
          <%= f.label :degree, "度数" ,class: "col-form-label"%>
          <%= f.collection_select(:degree_id, Degree.all, :id, :name, {}, {class:"select-box", id:"degree"}) %>
        </div>
        <div class="btn-submit">
          <%= f.submit "検索", class: "btn-form-submit" %>
        </div>
    <!--<input value="検索条件のクリア" id="clear-form" class="btn btn-light form-submit"> -->
      <% end %>
    </div>
    <div class="card__wrapper">
      <%= render partial: 'cocktail', collection: @cocktails %>
    </div>
  </div>
</main>