<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @cocktail.cocktail_name %>
      </p>
      <%= link_to "by #{@cocktail.user.nickname}", user_path(@cocktail.user_id), class: :prototype__user %>
      <% if user_signed_in? && current_user.id == @cocktail.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_cocktail_path(@cocktail), class: :prototype__btn %>
          <%= link_to "削除する", cocktail_path(@cocktail), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @cocktail.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">カクテルレシピ</p>
          <p class="detail__message">
            <%= safe_join(@cocktail.cocktail_recipe.split("\n"),tag(:br)) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>